body {
    font-family: "Segoe UI", Arial, sans-serif;
}

h1, h2 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h2 {
    font-size: 32px;
}

h1 {
    font-size: 42px;
}

#tumCalLink, #generateLinkBtn {
    width: 100%;
    margin: 0;
    border: 2px solid #aaa;
}

#tumCalLink {
    border: 2px solid #aaa;
}

#generateLinkBtn {
    border: 2px solid #007cea;
}

.main {
    flex-shrink: 0 !important;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
    width: 100%;
}

.inputWrapper {
    margin-top: 8px;
    margin-bottom: 8px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }

    img {
        width: auto;
    }

    #generateLinkBtn {
        width: fit-content;
    }

    #tumCalLink {
        width: -moz-fit-content;
    }

    .inputWrapper {
        display: flex;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    !important;
    }
}

input[type=url] {
    border-radius: 0;
    font-size: medium;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    border: 2px solid #555;
}

.invalid {
    border: 2px solid red !important;
}

button {
    font-size: medium;
    background-color: #007cea;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
